body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    color: #fff;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), 
                url('top-view-dishes-with-noodles-tomato-soup.jpg') no-repeat center center/cover;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logo {
    width: 150px; /* Ajusta el tama帽o */
    height: auto; /* Mantiene la proporci贸n */
    position: absolute;
    border-radius: 1000px;
    top: 20px; /* Ajusta la distancia desde arriba */
    left: 20px; /* Ajusta la distancia desde la izquierda */
}
header{
    background-color: #000000a5;
}

.hero {
    
    text-align: center;
}

.hero h1 {
    font-size: 5em;
    margin-bottom: 20px;
    margin-top: -80px;
    color: white;
    font-family: 'Arial', sans-serif;
    opacity: 0; /* Inicia invisible */
    animation: fadeIn 2s ease-in-out forwards; /* Duraci贸n y curva de aceleraci贸n */
  }
  
  /* Animaci贸n de fade-in */
  @keyframes fadeIn {

    
    from { opacity: 0; }
    to { opacity: 1; }

     from { 
        opacity: 0;
        transform: scale(0.95); /* Escala inicial m谩s peque帽a */
      }
      to { 
        opacity: 1;
        transform: scale(1);
      }
  }






.hero button {
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    background: #ff9800;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.hero button:hover {
    background: #e68900;
}

.section-beneficios, .section-plan, .section-consejos, .section-contactanos {
    padding: 100px 20px;
    width: 100%;
    box-sizing: border-box;
}

.section-beneficios {
    background-color: rgba(226, 226, 226, 0.738);
    color: black;
}

.section-plan {
    background: linear-gradient(to left, rgba(18, 14, 14, 0.7), grey);
    color: white;
}

.section-consejos {
    margin-top:  10px;
    margin-bottom: 10px;
    background-color: rgba(51, 46, 46, 0.625);
    border: px solid rgb(255, 255, 255);
    color: white;
}

.section-contactanos {
    
    border: px solid white;
    background-color: rgba(51, 46, 46, 0.625);
    color: rgb(255, 255, 255);
}

footer {
    padding: 20px;
    background: #000000;
    color: white;
}

/*  Responsive para m贸viles */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 3em;
    }
    
    .hero button {
        font-size: 1em;
        padding: 10px 20px;
    }

    .section-beneficios, .section-plan, .section-consejos, .section-contactanos {
        padding: 50px 15px;
    }
}
