*{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    color: #fff;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), 
                url('top-view-dishes-with-noodles-tomato-soup.jpg') no-repeat center center/cover;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.frutas-flotantes {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

/* Estilo general para todas las frutas */
.fruta {
    position: absolute;
    font-size: 40px;
    opacity: 0.8;
    animation: flotar 5s infinite ease-in-out;
}

/* Distribuci贸n aleatoria y delays 煤nicos para cada fruta */
.fruta:nth-child(1) { top: 5%; left: 10%; animation-delay: s; }
.fruta:nth-child(2) { top: 15%; left: 80%; animation-delay: 1s; }
.fruta:nth-child(3) { top: 15%; left: 50%; animation-delay: 2s; }
.fruta:nth-child(4) { top: 35%; left: 20%; animation-delay: 2s; }
.fruta:nth-child(5) { top: 55%; left: 70%; animation-delay: 2s; }
.fruta:nth-child(6) { top: 55%; left: 30%; animation-delay: 5s; }
.fruta:nth-child(7) { top: 65%; left: 60%; animation-delay: 2s; }
.fruta:nth-child(8) { top: 75%; left: 40%; animation-delay: 2s; }
.fruta:nth-child(9) { top: 85%; left: 85%; animation-delay: 2s; }
.fruta:nth-child(10){ top: 50%; left: 10%; animation-delay: 2s; }

@keyframes flotar {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-25px); }
}


.logo {
    width: 150px; /* Ajusta el tama帽o */
    height: auto; /* Mantiene la proporci贸n */
    position: absolute;
    border-radius: 1000px;
    top: 20px; /* Ajusta la distancia desde arriba */
    left: 20px; /* Ajusta la distancia desde la izquierda */
}
header{
    background-color: #000000a5;
}

.hero {
    
    text-align: center;
}

.hero h1 {
    font-size: 5em;
    margin-bottom: 20px;
    margin-top: -80px;
    color: white;
    font-family: 'Arial', sans-serif;
    opacity: 0; /* Inicia invisible */
    animation: fadeIn 2s ease-in-out forwards; /* Duraci贸n y curva de aceleraci贸n */
  }





  
  
  .resaltado{
    color: #f8a11f;
  }
  /* Animaci贸n de fade-in */
  @keyframes fadeIn {

    
    from { opacity: 0; }
    to { opacity: 1; }

     from { 
        opacity: 0;
        transform: scale(0.95); /* Escala inicial m谩s peque帽a */
      }
      to { 
        opacity: 1;
        transform: scale(1);
      }
  }






.hero button {
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    background: #ff9800;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
}
h2{
    font-size: 35px;

}

/* L铆nea decorativa debajo del h2 */
h2::after {
    content: "";
    display: block;
    width: 600px;
    height: 4px;
    background-color: #ff9800;
    margin: 10px auto;
    border-radius: 2px;
}
.hero button:hover {
    background: #f1f0ef;
    color: #000000;
}

.section-beneficios, .section-plan, .section-consejos, .section-contactanos {
    padding: 100px 20px;
    width: 100%;
    box-sizing: border-box;
    
    
}

.section-beneficios {
    background-color: #fefefe;
    margin-top: 10px;
    border-radius: 10px ;
    color: black;
}
.clean-list p {
    margin: 12px 0;
    font-size: 1.1em;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.clean-list i {
    font-size: 1.3em;
    color:#0098ff;
}




.section-plan {
    margin-top: 10px;
    border-radius: 20px ;
    background: none;
    color: rgb(255, 255, 255);
}

.section-consejos {
    margin-top:  10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #f8f8f8;
    border: px solid rgb(255, 255, 255);
    color: #000000;
}

.section-contactanos {
    border-radius: 20px;
    margin-bottom: 10px;
    border: px solid white;
    background: none;
    color: rgb(255, 255, 255);
}

footer {
    padding: 20px;
    background: #000000;
    color: white;
}

/*  Responsive para m贸viles */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 3em;
    }
    
    .hero button {
        font-size: 1em;
        padding: 10px 20px;
    }

    .section-beneficios, .section-plan, .section-consejos, .section-contactanos {
        padding: 50px 15px;
    }
    h2::after {


        width: 200px;
        height: 4px;
        

}
}
@media (max-width: 480px){
    .fruta {
        font-size: 25px;
    }

}